<% provide(:title, t("loginNow")) %>
<h1><%= t("loginNow") %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= link_to t("forgotPassword"), new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span><%= t("rememberThisComputer") %></span>
      <% end %>

      <%= f.submit t("loginNow"), class: "btn btn-primary" %>
    <% end %>

    <p><%= t("newUser") %>? <%= link_to t("signupNow"), signup_path %></p>
  </div>
</div>