<h1><%= t("sampleApp") %></h1>

<% if I18n.locale == :en %>
  <p>Hi <%= @user.name %>,</p>
<% else %>
  <p><%= @user.name %><%= t("hello") %></p>
<% end %>

<p>
<%= t("welcomeActivationGreeting") %>
</p>

<%= link_to t("activate"), edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>