<% provide(:title, t("updateProfile")) %>
<% provide(:button_text, t("change") ) %>
<h1><%= t("updateProfile") %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank"><%= t("change") %></a>
    </div>
  </div>
</div>