<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %></br>
      </h1>
      <h5>Email : <%= @user.email %></h5>
        <% if current_user.admin? || current_user?(@user) %><h5>API Token : <%= @user.api_token %></h5><% end %>
    </section>
  </aside>
</div>