@import "bootstrap-sprockets";
@import "bootstrap";
@import "_custom.variables.scss";

/* universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit
}

html{
  font-size: 10px;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $textColor;
  font-size: 1.6rem;
  background-image: $bgImage;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  padding: 6rem;
  box-sizing: border-box;
}

.main{
  position: relative;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 1rem;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3rem;
  letter-spacing: -0.2rem;
  margin-bottom: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  letter-spacing: -0.1rem;
  margin-bottom: 3rem;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.5rem;
  line-height: 1.7rem;
}


/* header */

#logo {
  float: left;
  margin-right: 1rem;
  font-size: 1.7em;
  color: $colDefault ;
  text-transform: uppercase;
  letter-spacing: -0.1rem;
  padding-top: 0.9rem;
  font-weight: bold;
  &:hover {
    color: $colHover ;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 4.5rem;
  padding-top: 0.5rem;
  border-top: 0.1rem solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 1.5rem;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 4.5rem;
  @include box_sizing;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 0.1rem solid #bbb;
  width: 100%;
  margin-bottom: 1.5rem;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 3rem 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -1rem;
  margin-bottom: 1rem;
  span {
    margin-left: 2rem;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* mobile look and feel */

.nav, .navbar, .navbar-header, .navbar-brand, .collapse, .navbar-collapse, #bs-example-navbar-collapse-1 { 
    background-color: $bgDefault;
    border-color: $bgHighlight;
}
.navbar-default {
    background-color: $bgDefault;
    border-color: $bgHighlight;
    .navbar-brand {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover; 
          display: block;
        }}
    .navbar-nav {
        > li {
            padding: 0.5rem;
            > i {
              display: table;
              padding: 0.5rem;
            }
            > a {
              padding: 0.5rem;
                color: $colDefault;
                &:hover, &:focus {
                  color: $bgDefault;  
                  display: block;
                  background-color: $colHover;
                  border: 0.2rem solid $colHover;
                }}}
        .active {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight; 
              display: block;
            }}
        .open {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight;
                .caret {
                    border-top-color: $colHover;
                    border-bottom-color: $colHover; }}}
        > .dropdown {
            > a {
                .caret {
                    border-top-color: $colDefault;
                    border-bottom-color: $colDefault; }
                &:hover, &:focus {
                  display: block;
                  color: $bgDefault;
                  background-color: $colHover;
                  border: 0.2rem solid $colHover;
                    .caret {
                        border-top-color: $bgDefault;
                        border-bottom-color: $bgDefault; 
                    }
                }
            }
            .dropdown-menu {
                  background-color: lighten($bgDefault, 20%);
                  border: 0.2rem solid saturate($bgDefault, 20%);
                > li {
                  padding: 0.5rem;
                    > i {
                        display: table;
                        padding: 0.5rem;
                      }
                    > a {
                        padding: 0.5rem;
                      color: $colDefault;
                      &:hover, &:focus {
                        color: $bgDefault;  
                        display: block;
                        background-color: $colHover;
                        border: 0.2rem solid $colHover;
                      }}}}
        }
    }
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover, &:focus {
            background-color: $bgHighlight; 
        }
        .icon-bar {
            background-color: $colDefault; 
        }
    }
}
