// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "custom.css.scss";
.about, .help, .contact{
  a {
    color: $gray-lighter;
    &:hover {
       color: $gray-darker;
    }
  }
  h1 {
    margin-top: 2rem;
    color: $gray-lighter;
    font-size: 3rem;
    letter-spacing: -0.2rem;
    margin-bottom: 3rem;
    text-align: center;
  }
  p {
    margin-top: 0.5rem;
    color: $gray-medium-light;
  }
    margin-top: 2rem;
    color: #ff0000;
}

.header {
  height: 50vh;
  background-image: linear-gradient(to right bottom, rgba(255,255,255, 0.8), rgba(224,224,224, 0.8));//, $homeImage;
  background-size: cover;
  background-position: top;
  positive: relative;
  //clip-path: polygon(0 0, 100% 0, 98% 70%, 2% 70%);
  //clip-path: ellipse(50% 23% at 50% 25%);
}

.text-box {
  text-align: center;
  position: relative;
  top: 10%;
  left: 0%;
  transform: translated (50%,-50%);
}

.heading-primary {
  backface-visibility: hidden;
}

.heading-primary-main {
  display: block;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 1.5rem;
  line-height: 4.5rem;
  animation: moveInLeft 1s ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  line-height: 4.5rem;
  animation: moveInRight 1s ease-out;
}


.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  //transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.2);
}

.btn-theme {
  background-color: #fff;
  color: #777;
}

.btn::after{
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-theme::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated{
  animation: moveInBottom .5s ease-out .75s; 
  animation-fill-mode: backwards;
}

@keyframes moveInLeft{
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes moveInRight{
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes moveInBottom{
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}